OnboardingWorkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "d52ca63a-6cf2-4f0c-8631-1ac096890408",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        176
      ],
      "webhookId": "2714629b-33ab-4fc9-b830-961475c86b7f"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/users/{{ $json.body.user.githubUsername }}",
        "jsonParameters": "={{ true }}",
        "options": {}
      },
      "id": "0496d1da-c49a-4df5-8c01-fcb8392c494e",
      "name": "Check GitHub Username",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -256,
        80
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gswvrx8fbd2X5sKM",
          "name": "Github PAT"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "=https://api.github.com/orgs/OnboardingEmployee/invitations",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "invitee_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "role",
              "value": "direct_member"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "applciation/vnd.github+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-agent"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "f1ac3819-189c-425e-be7c-43ba085de54d",
      "name": "Send GitHub Org Invite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -32,
        -32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "gswvrx8fbd2X5sKM",
          "name": "Github PAT"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "louis.yangga@gmail.com",
          "mode": "list",
          "cachedResultName": "louis.yangga@gmail.com"
        },
        "start": "={{ $json['start time'] }}",
        "end": "={{ $json['end time'] }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.body.user.email }}"
          ],
          "description": "=Onboarding Meeting for {{ $json.body.user.firstName }} {{ $json.body.user.lastName }} as {{ $json.body.user.title }} in {{ $json.body.user.department }} department",
          "guestsCanInviteOthers": false,
          "guestsCanSeeOtherGuests": false,
          "summary": "=Onboarding Meeting for {{ $json.body.user.firstName }} {{ $json.body.user.lastName }}"
        }
      },
      "id": "15afb013-0a08-4c62-90ec-c1b6dcbfe83e",
      "name": "Create Calendar Invite",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -32,
        368
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AFWmQM7imA6domJd",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook Trigger').item.json.body.user.email }}",
        "subject": "=Welcome Email for {{ $('Webhook Trigger').item.json.body.user.firstName }} {{ $('Webhook Trigger').item.json.body.user.lastName }} as {{ $('Webhook Trigger').item.json.body.user.title }} in {{ $('Webhook Trigger').item.json.body.user.department }} department",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif;\">\n    <h2 style=\"color: #333;\">Welcome to the Team, {{ $('Webhook Trigger').item.json.body.user.firstName }} !</h2>\n    <p>Hi {{ $('Webhook Trigger').item.json.body.user.firstName }},</p>\n    <p>We're excited to have you join as a <strong>{{ $('Webhook Trigger').item.json.body.user.title }}</strong> in the <strong>{{ $('Webhook Trigger').item.json.body.user.department }}</strong> team.</p>\n    <p>✅ Your onboarding meeting is scheduled. Check your email for invitation. <a href=\"{{ $('Create Calendar Invite').item.json.htmlLink }}\" target=\"_blank\">View Invite</a> </p>\n    <p>✅ If you provided a GitHub username, you’ll receive an invite shortly.</p>\n    <p>✅ Do not forget to change the password in the link. This is the temporary password: <strong>{{ $('Webhook Trigger').item.json.body.password}}</strong></p>\n    <p>Let us know if you need anything!</p>\n    <p><strong>The Team</strong></p>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "senderName": "Louis Yangga"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        368
      ],
      "id": "a2e7b1e8-505e-4042-8055-955d13e6739e",
      "name": "Send a message",
      "webhookId": "8d159673-bce5-49e2-8e04-cb06c491551b",
      "credentials": {
        "gmailOAuth2": {
          "id": "VQwhS6AIPVOCujuP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onboardingautomation.onrender.com/api/log-onboarding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook Trigger').item.json.body.user.email }}"
            },
            {
              "name": "step",
              "value": "Sending Email"
            },
            {
              "name": "status",
              "value": "Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        368
      ],
      "id": "d4f09a5d-9df0-4a00-9d46-50ff806dbd6a",
      "name": "Log Sent Email",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLhaDo9AbI9cnQiQ",
          "name": "API KEY onboarding"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onboardingautomation.onrender.com/api/log-onboarding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.body.user.email }}"
            },
            {
              "name": "step",
              "value": "Sending Github Invite"
            },
            {
              "name": "status",
              "value": "No Information Provided"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        176
      ],
      "id": "b160e68b-c238-44df-96f4-545e51598afd",
      "name": "Log Github Not Exists",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLhaDo9AbI9cnQiQ",
          "name": "API KEY onboarding"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onboardingautomation.onrender.com/api/log-onboarding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.attendees[0].email }}"
            },
            {
              "name": "step",
              "value": "Calendar Invitation"
            },
            {
              "name": "status",
              "value": "Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        368
      ],
      "id": "c6567c29-1c11-4e92-b87f-8318953725c6",
      "name": "Log Calendar Invitation",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLhaDo9AbI9cnQiQ",
          "name": "API KEY onboarding"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onboardingautomation.onrender.com/api/log-onboarding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook Trigger').item.json.body.user.email }}"
            },
            {
              "name": "step",
              "value": "Github Invitation"
            },
            {
              "name": "status",
              "value": "Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -32
      ],
      "id": "ba8905d5-533e-4b67-8798-6e47a21b7797",
      "name": "Log Invitation Sent",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLhaDo9AbI9cnQiQ",
          "name": "API KEY onboarding"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14668ce2-e094-4e98-9f71-a324ee7349e2",
              "name": "=start time",
              "value": "={{ \n  new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split(\"T\")[0] + \"T10:00:00.000\" \n}}",
              "type": "string"
            },
            {
              "id": "3d5e0ff8-1a58-42c2-bd91-02af5570f6cf",
              "name": "end time",
              "value": "={{ \n  new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split(\"T\")[0] + \"T12:00:00.000\" \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        368
      ],
      "id": "7983356a-f221-4568-ad77-5ee4ddee883d",
      "name": "Set Date"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://onboardingautomation.onrender.com/api/log-onboarding",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Webhook Trigger').item.json.body.user.email }}"
            },
            {
              "name": "status",
              "value": "finished"
            },
            {
              "name": "step",
              "value": "Finished"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        368
      ],
      "id": "d8f9557d-f7cd-4162-85d3-e4cfc5272982",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YLhaDo9AbI9cnQiQ",
          "name": "API KEY onboarding"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check GitHub Username",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GitHub Username": {
      "main": [
        [
          {
            "node": "Send GitHub Org Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Github Not Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Log Sent Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Invite": {
      "main": [
        [
          {
            "node": "Log Calendar Invitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send GitHub Org Invite": {
      "main": [
        [
          {
            "node": "Log Invitation Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Calendar Invitation": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date": {
      "main": [
        [
          {
            "node": "Create Calendar Invite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sent Email": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54d82fc2-2795-4ebc-b665-ee21a07654b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61be956f24582977d8af4e23bd60adf961fe3af82e437b2d21dc9b05e6ad0cde"
  },
  "id": "wCaVAhObhSXciW96",
  "tags": []
}